
/************************************************
    TABLET VIEW (more than 768px)
 ************************************************/


/************************************************
    DESKTOP VIEW (more than 992px)
 ************************************************/
 
 @media screen and (min-width: 992px){
    /* COMMON */
    .container{
        width: 80%;
        margin: 0 auto;
        max width: 1000px;
        padding: 0;
    }
    
    /* HEADER */
    header .hamburger-menu{
        display: none;
    }

    header .desk-menu {
        display: block;
    }


}


/************************************************
    LARGE SCREEN VIEW (more than 1200px)
 ************************************************/
