
/************************************************
    TABLET VIEW (more than 768px)
 ************************************************/
 @media screen and (min-width: 768px){
    /* COMMON */

    /* MAIN */
    /* First section */    

    #features .cards{
        flex-wrap: wrap; 
        gap: var(--gutter);
    }
    
    #features .cards .card{
        width: calc(100% / 3  - (var(--gutter) * 2 / 3));
    }
    
    #features .cards .card:first-child{
        width: calc(100% / 3 * 2 - var(--gutter) / 3);
    }

    /* Second section */
    #strategic .row{
        justify-content: center;
    }

    #strategic .row .col-sx h2{
        font-size: 3rem;
    }
    
    /* Third section */    

    #partners .partner{
        flex-wrap: nowrap;
        align-items: center;
    }

    #partners .partner .pic-partner{
        width: 30%;
    }

    #partners .partner .quote{
        width: 70%;
        text-align: left;
    }

    #partners .partner .quote p {
        padding: 3rem 3rem 0 0;
    }

    #partners .partner .quote h3{
        font-size: 1rem;
    }

    #partners .pic-partner img {
        margin: 0;
    }

    /* Fourth Section */

    .benefit-row .benefit-card{
        width: calc(100% / 2 - 1rem);
    }

    /* Fifth Section */
    #about-us .wrapper{
        flex-wrap: nowrap;
    }

    .wrapper .text-wrapper{
        width: 60%;
        padding: 1rem 2.5rem
    }

    .wrapper .citation{
        width: 40%;
        padding: 1rem 2.5rem
    }

    .wrapper .citation .ceo{
        width: 100%;
    }

    .wrapper .citation .ceo span{
        right: -1rem;
        font-size: 5rem;
    }

    /* Sixth Section */

    .small-box {
        width: 40% ;
        margin: 0 auto;
    }

    /* FOOTER */

    footer .small-container{
        width: 40% ;
        margin: 0 auto;
    }    
}

/************************************************
    DESKTOP VIEW (more than 992px)
 ************************************************/

 @media screen and (min-width: 992px){
    /* COMMON */
    .container{
        width: 65%;
        margin: 0 auto;
        max-width: 1000px;
        padding: 2rem 0;
    }
    
    /* HEADER */
    header .hamburger-menu{
        display: none;
    }

    header .desk-menu {
        display: block;
    }
 
    /* MAIN */
    /* First section */ 

    #features .cards .card:first-child{
        flex-direction: row;
    }

    /* Second section */

    #strategic .row{
        flex-wrap: nowrap;
        padding: 2rem 3rem;
    }

    #strategic .row>div{        
        width: 90%;
        margin: 1rem;
    }

    #strategic .row .col-sx h2{
        padding-top: 7rem;
        font-size: 2rem;
    }

    #strategic .row .col-dx img {
        max-height: 15rem;
    }

    /* Fourth Section */
    
    .benefit-row .benefit-card{
        width: calc(100% / 3 - 1rem);
    }

    /* Sixth Section */

    #call-to-action .small-box {
        width: 60% ;
        margin: 0 auto;
    }
}


/************************************************
    LARGE SCREEN VIEW (more than 1200px)
 ************************************************/

 @media screen and (min-width: 1200px){
    
    /* COMMON */

    .container{
        width: 85%;
        margin: 0 auto;
        max-width: 1600px;
        padding: 2rem 0;
    }
    
    /* MAIN */

    /* First section */    

    #features .cards{
        flex-wrap: wrap; 
        justify-content: space-between;
        gap: var(--gutter);
    }

    #features .cards .card{
        width: calc(100% / 6 - var(--gutter));
    }

    #features .cards .card h4{
        font-size: 1.2rem;
    }

    #features .cards .card:first-child{
        width: calc(100% / 6 * 2 - var(--gutter) / 6);
    }

    /* Third section */  
    #partners .experts{
        flex-wrap: nowrap;
    }

    #partners .partner .pic-partner{
        width: 50%;
    }

    #partners .partner .quote{
        width: 50%;
        text-align: left;
    }

    /* Fourth section */  

    .benefit-row .benefit-card{
        width: calc(100% / 6 - 1rem);
        display: flex;
        flex-direction: column;
        justify-content: space-around;    
    }

    /* Second and Fifth sections */

    #about-us .container, #strategic .container{
        width: 65%;
    }










}
