/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CUSTOM PROPERTIES */
:root{
    /* palette */
    --primary-col:#0084fd;
    --primary-col-light:#b5ddff;
    --secondary-col:#9792e4;
    --secondary-col-light:#d5d4f4;
    --special-col:#FDC15F;

    --text-col: #111;
    --white-col: #fff;
    --dark-gray: #333;

    /* spaces */
    --gutter: 1.5rem;

}

/* UTILITIES */

.b-rad20{
    border-radius: 20px;
}

.b-rad60{
    border-radius: 60px;
}

.line-hgt2{
    line-height: 2rem;
}

.mrgn2-0{
    margin: 2rem 0;
}

.mrgn1-0{
    margin: 1rem 0;
}

.fntsz1-5{
    font-size: 1.5rem;
}

.fntsz2{
    font-size: 2rem;
}

.txt-cntr{
    text-align: center;
}

.fnt-wgt200{
    font-weight: 200;
}

.clean{
    color: inherit;
    text-decoration: none;
}

.flex{
    display: flex;
}

.btn{
    padding: 0.5rem;
    border-color:transparent;
}

/* COMMON */

html{
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}

img{
    max-width: 100%;
}

.container{
    width: 100%;
    padding:1.5rem;
}

h5, h3{
    margin: 1.5rem 0;
}

#partners h2, #benefits h2, #about-us h2{
    color: var(--secondary-col);
    font-size: 3rem;
}


/* HEADER */

header{
    background-color:var(--primary-col);
    color: var(--white-col);
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

header .container{
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header .desk-menu {
    display: none;
}

header ul{
    list-style-type: none;
    gap: 15px;
    align-items: center;
}

/* MAIN */
/* First section */

#features .cards{
    margin: 6rem 0 2.5rem 0;
    flex-wrap: wrap;
    gap: 1rem;
}

#features .cards .card{    
    background-color: var(--primary-col-light);
    padding: 2rem;
}

.card h4{
    color: var(--primary-col);
}

#features .cards .card:first-child{
    flex-direction: column;
    padding-bottom: 0;
    text-align: left;
}

#features .cards .card:first-child .image-space{
    align-self: flex-end;
}   

#features .cards .card:first-child .image-space img{
    vertical-align:bottom;
}

#features .cards .card:first-child .btn{
    padding: 0.8rem 3rem;
    background-color: var(--primary-col);
    color: var(--white-col);
}

#features .cards .card>i{
    font-size: 4rem;
    color: var(--primary-col);
}

/* Second section */
#strategic {
    background-color: var(--secondary-col);
}

#strategic .row{
    flex-wrap: wrap ;
    color: var(--white-col);
}

#strategic .row .col-dx{
    background-color: var(--white-col);
    color: var(--text-col);
    padding: 2rem;
    align-self: flex-end;
}

.row .col-dx span{
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    padding-bottom: 0.2em;
    font-size: 1.1em;
    background-color: var(--secondary-col);    
    margin-top: 1.5rem;
}

#strategic .row .col-sx h2{
    padding: 4rem 0 2rem;
    font-size: 2.7rem;
}

#strategic .row .col-dx h4{
    padding: 1rem 0;
}

/* Third Section */

#partners .experts{
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 0 3rem 0;
}

#partners .partner{
    background-color: var(--secondary-col);
    color: var(--white-col);
    flex-wrap: wrap;
    justify-content: center;
}

#partners .pic-partner img{
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;    
    margin: 1rem;
}

#partners .partner .quote i{
    padding: 0 0.3rem;
}

#partners .partner .quote p{
    padding: 0 1rem;
}

#partners .partner .quote h3{
    font-size: 1.3rem;
}

/* Fourth Section */

#benefits {
    background-color: var(--secondary-col);
    color: var(--white-col);
}

#benefits .benefit-row{
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center
}

.benefit-row .benefit-card{
    background-color: var(--white-col);
    color: var(--secondary-col);
    padding: 1rem;
}

.benefit-row .benefit-card button{
    background-color: var(--secondary-col);
    color: var(--white-col);
    font-size: 0.8rem;
    letter-spacing: 0.2em;
    padding: 0.5rem 2rem ;
}

/* Fifth Section */

#about-us .wrapper{
    color: var(--secondary-col);
    flex-wrap: wrap;
    padding: 1rem;
}

.wrapper p{
    color: var(--text-col);
}

.citation button{
    background-color: var(--secondary-col);
    color: var(--white-col);
}

.citation .ceo{
    display: inline-block;
    width: 8rem;
    position: relative;
}

.citation .ceo img{
  border-radius: 50%;
}

.citation .ceo span{
    position: absolute;
    top: 0;
    right: 0;
}

  /* Sixth Section */

  #call-to-action {
    background-color: var(--secondary-col);
    color: var(--white-col);
  }

  #call-to-action .banner{
    flex-direction: column;   
    align-items: center;
  }

  .banner h5{
    color: var(--secondary-col-light);
  }

  .banner h2{
    color: var(--special-col);
    font-size: 4rem;
  }

  .banner button{
    letter-spacing: 0.2rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    color: var(--secondary-col);
    font-weight: bold;
  }

  .banner a{
    color: inherit;
  }

  /* FOOTER */

  footer{
    background-color: var(--dark-gray);
    color: white;
    padding: 2rem 1rem;
  }

  .main-footer{
    margin-bottom: 3rem;
  }

  .sub-footer a{
    color: var(--secondary-col)
  }






