/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CUSTOM PROPERTIES */
:root{
    /* palette */
    --primary-col:#0084fd;
    --primary-col-light:#b5ddff;
    --secondary-col:#9792e4;
    --secondary-col-light:#d5d4f4;
    --special-col:#FDC15F;

    --text-col: #111;
    --white-col: #fff;
    --dark-gray: #333;

    /* spaces */
    --gutter: 1.5rem;

}

/* UTILITIES */


.b-rad20{
    border-radius: 20px;
}


/* COMMON */

html{
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}

img{
    max-width: 100%;
}

.flex{
    display: flex;
}

.container{
    width: 100%;
    padding: 0 1rem;
}

.btn{
    padding: 0.5rem;
    border-color:transparent;
}

/* HEADER */

header{
    background-color:var(--primary-col);
    color: white;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

header .container{
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header .desk-menu {
    display: none;
}

header ul{
    list-style-type: none;
    gap: 15px;
    align-items: center;
}

header a{
    text-decoration: none;
    color: inherit;
}

header .hamburger-menu{
    font-size: 1.5rem;
}

/* MAIN */
/* First section */

#about .row{
    margin-top: 6rem;
    flex-wrap: wrap;
    gap: 1rem;
    /* debug */
    border: 1px solid red;
}

#about .row .card{
    text-align: center;
    padding: 1rem;

    /* debug */
    border: 1px solid red;
}

.card h4{
    margin: 1rem 0;
    color: var(--primary-col);
}

#about .row .card:first-child{
    flex-direction: column;
    padding-bottom: 0;
    
}

/* Second section */
#strategic {
    background-color: var(--secondary-col);
}

#strategic .row{
    flex-wrap: wrap ;
    color: var(--white-col);
    padding: 3rem 1rem;
}

#strategic .row>div{
    width: 90%;
    margin: 1rem auto;
}

#strategic .row .col-dx{
    background-color: var(--white-col);
    color: var(--text-col);
    text-align: center;
    padding: 2rem;
}

.row .col-dx span{
    border-radius: 50%;
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--secondary-col);
}

/* Third Section */

#partners .intro{
    text-align: center;
}

#partners .experts{
    flex-wrap: wrap;
    gap: 20px;
}

#partners .partner{
    background-color: var(--secondary-col);
    text-align: center;
    color: var(--white-col);
    flex-wrap: wrap;
    justify-content: center;
}

#partners  span{
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 1rem;

}

#partners .pic-partner img{
    width: auto;
    height: 100%;
}

/* Fourth Section */

#benefits {
    background-color: var(--secondary-col);
    color: var(--white-col);
}

#benefits .benefit-row{
    flex-wrap: wrap;
    gap: 1rem;
}

.benefit-row .benefit-card{
    background-color: var(--white-col);
    color: var(--secondary-col);
    padding: 1rem;

}

/* Fifth Section */

#about-us .wrapper{
    color: var(--secondary-col);
    flex-wrap: wrap;
    padding: 1rem;
}

.wrapper p{
    color: var(--text-col);
    margin: 2rem 0;
}

.citation .ceo{
    display: inline-block;
    width: 8rem;
    position: relative;
}

.citation .ceo img{
  border-radius: 50%;
}

.citation .ceo i{
    position: absolute;
    top: 0;
    right: 0;
  }

  /* Sixth Section */

  #starter {
    background-color: var(--secondary-col);
    color: var(--white-col);
  }

  #starter .banner{
    flex-direction: column;   
    align-items: center;
  }

  .banner h2{
    color: var(--special-col);
  }

  /* FOOTER */





